.euiAccordion__triggerWrapper {
    padding: 2px 0;
}

.accordion-button {
    color: var(--primary-dark);
}

.accordion-facet .euiPanel {
    padding: 10px;
}

.euiAccordion__childWrapper {
    block-size: 4rem;
}

.accordion-facet .euiFormRow {
    padding: 2px;
}