table.related-letters.search-results {
    margin-bottom: 0.5rem;
}
table.related-letters th {
    width: 33%;
}
.related-letters-header {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.related-letters-pagination {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0rem 0 0.5rem;
}