table.related-letters.search-results {
    margin-bottom: 0.5rem;
}
table.related-letters th {
    width: 33%;
}
.related-letters-header {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.date-picker-container {
    display: flex;
    align-items: center;
}
.date-picker-container button {
    margin-right: 1rem;
    color: var(--primary);
}
.date-picker-container button:enabled:focus {
    background-color: var(--primary-transparent);
}
.date-picker.both-active,
.date-picker:not(.both-active) .active {
    outline: solid 2px var(--primary);
}
