div.entity-details table {
    text-align: left;
    line-height: 1.5;
}
div.entity-details table th {
    padding-right: 2rem;
}
div.entity-details table td + th {
    padding-left: 2rem;
    padding-right: 0.5rem;
}

.entity-subtype-label {
    text-transform: capitalize;
    margin-bottom: 0.25rem;
}
