.timeline-page {
    height: calc(100vh - 48px);
    width: 100vw;
}

.timeline-page nav {
    position: sticky;
    top: 48px;
}

.timeline-scrolling-container {
    overflow: auto;
}

.timeline-nav button {
    margin: 0.25rem 0;
}

.timeline-key {
    border-radius: 6px;
    padding: 0.5rem;
}

.timeline-year-header {
    background-color: var(--primary-light);
    position: sticky;
    top: -1px;
    z-index: 1;
}

.vertical-timeline {
    position: relative;
}

.timeline-event h2 {
    padding: 0.75rem 1rem;
}

.timeline-event-type-personal .vertical-timeline-element-content h2,
.timeline-key-personal {
    background-color: #007dba;
    color: #fff;
}

.timeline-event-type-personal h2 {
    color: #fff !important;
}

.timeline-event-type-global h2 {
    color: #000 !important;
}

.timeline-event-type-personal .vertical-timeline-element-content h2 {
    text-align: end;
}

.timeline-event-type-global h2,
.timeline-key-global {
    background-color: #e6b965;
}

.timeline-event p,
.timeline-event figure {
    padding: 0 1rem 1rem;
}