.result-name {
    justify-content: center;
    text-align: center;
}
.result-name button {
    position: absolute;
    left: 24px;
}
.result-name .euiPageHeaderSection {
    max-width: 80%;
}
.result-meta-heading,
.result-heading {
    margin-bottom: 0.5rem;
}
.result-heading {
    margin-top: 1rem;
}
.euiTitle + .euiTitle {
    margin-top: 1rem;
}
main.result a:not(.to-record) {
    color: var(--primary-dark);
}
