main#home {
    text-align: center;
}
main#home img {
    max-width: 100%;
}
main#home .description {
    margin-top: 1.5rem;
    justify-content: center;
    gap: 1.5rem;
}
main#home .description p {
    text-align: left;
    line-height: 1.5;
    max-width: 60ch;
    padding: 0 2rem;
    font-size: 1.33rem;
    grid-column: span 2;
}
main#home a {
    font-size: 1.5rem;
    padding: 1.75rem;
    margin: 2rem;
    background-color: var(--primary);
    width: calc(100% - 4rem);
}
main#home a:first-of-type {
    margin-bottom: -1rem;
}
main#home .home-container {
    background-color: #fafbfd;
}

@media (min-width: 900px) {
    main#home .description {
        display: grid;
        grid-template-columns: auto auto;
    }
    main#home .description p {
        padding: 0;
    }
    main#home a {
        margin: 0 0 0.5rem;
        width: auto;
    }
    main#home a:first-of-type {
        margin-bottom: 0;
    }
}
